$("#cus_table").DataTable({
    processing: true,
    ajax: {
        url: "/get_all_cus_data",
        type: "GET",
        data: {},
    },
    columns: [
        { data: "" },
        { data: "" },
        { data: "" },
        { data: "" },
        {
            sortable: false,
            render: function (data, type, full, meta) {
                var used = "" + full.used_contacts;
                return (
                    '<a style="color: #000000; text-align="center" onclick="delete_batch(' +
                    used +
                    ')" role="button" class="view_alignment" ><span class="glyphicon glyphicon-trash view_alignment" style="text-align:center;"></span></a>'
                );
            },
        },
        {
            sortable: false,
            render: function (data, type, full, meta) {
                var used = "" + full.used_contacts;
                return (
                    '<a style="color: #000000; text-align="center" onclick="delete_batch(' +
                    used +
                    ')" role="button" class="view_alignment" ><span class="glyphicon glyphicon-trash view_alignment" style="text-align:center;"></span></a>'
                );
            },
        },
    ],
    columnDefs: [{
        className: "text-center",
        targets: [0, 1, 2, 3, 4, 5, 6, 7, 8]
    }],

    pageLength: 25,
});